.course-box {
  display: flex;
  flex-direction: column;
  background-color: #d2aaf4; 
  border: 2px solid #c788ff; 
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 20px;
}

.course-box-upper {
  height: 200px;
  background-color: #ffffff;
  background-size: cover;
  background-position: center;
}

.course-box-lower {
  padding: 20px;
}

.course-box h2 {
  margin-top: 0;
}

.course-box p {
  margin-bottom: 150px;
}

.course-box :hover {
  background-color: #eabfe7;
}

.course-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.highlighted {
  /* Your styles for highlighted course boxes */
  /* For example: */
  background-color: yellow;
}
