.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  background-color: rgb(151, 88, 163);
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  right: 0;
  height: 6rem;
  transition: 0.3s;
  z-index: 1000;
}
.cart-container,
.login-container { /* Adjust for login-container for consistency */
  display: flex;
  align-items: center;
}

.cart-link,
.login-link { /* Combine cart-link and login-link */
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s, filter 0.3s; /* Add transition for color and filter */
}

.cart-link:hover,
.login-link:hover { /* Define hover styles for both links */
  filter: brightness(0.8); /* Slightly decrease brightness on hover */
}

.cart-icon {
  font-size: 24px;
  margin-right: 5px;
}

.cart-text {
  font-size: 16px;
}

.button-container {
  display: flex;
}

/* header.css */
.cart-icon {
  max-height: 50px;
  max-width: 50px; 
}

@keyframes pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.cart-container.pop .cart-icon {
  animation: pop 0.3s ease-in-out;
}



/* Navigation links */
.header-container a {
  color: white;
  text-decoration: none;
  position: relative; /* Added for positioning the underline */
}

/* Underline */
.header-container a::after {
  content: '';
  position: absolute;
  left: 50%; /* Start from the middle */
  bottom: -2px;
  height: 2px;
  width: 0;
  background-color: rgb(255, 255, 255);
  transition: width 0.3s, left 0.3s; /* Smooth transition effect for width and position */
}

/* Hover effect */
.header-container a:hover::after {
  width: calc(100%); /* Underline expands to full width with a little distance on each side */
  left: 0; /* Adjusted position to maintain distance */
}

/* Active link */
.header-container a.active::after {
  width: calc(100%); /* Underline stays at full width for active link */
  left: 0; /* Adjusted position to maintain distance */
}