.header-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-image: linear-gradient(to right, rgb(151, 88, 163), rgb(204, 115, 207));
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  height: 6rem;
  transition: 0.3s;
  z-index: 100;
}

.hamburger-menu {
  display: none;
  margin-right: auto;
}

.learniverse-connect {
  color: white;
  padding-left: 10px;
}

.navlist-container {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.navlist-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navlist-container ul li {
  margin-right: 10px;
}

.cart-container,
.login-container {
  display: flex;
  justify-content: center; 
}

.cart-link,
.login-link {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s, filter 0.3s;
}

.cart-link:hover,
.login-link:hover {
  filter: brightness(0.8);
}

.cart-icon {
  font-size: 24px;
  margin-right: 5px;
  max-height: 50px;
  max-width: 50px; 
}

.cart-text {
  font-size: 16px;
}

.header-container a {
  color: white;
  text-decoration: none;
  position: relative;
}

.header-container a::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -2px;
  height: 2px;
  width: 0;
  background-color: rgb(255, 255, 255);
  transition: width 0.3s, left 0.3s;
}

.header-container a:hover::after {
  width: calc(100%);
  left: 0;
}

.header-container a.active::after {
  width: calc(100%);
  left: 0;
}

@media (max-width: 1000px) {
  .hamburger-menu {
    display: block;
  }
}

.learniverse-connect {
  display: flex;
  align-items: center;
  color: white;
  margin-right: auto;
  font-family: Bebas Neue, sans-serif;
  font-size: 30px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.header-right-container {
  display: flex;
  align-items: center;
  margin-left: auto; /* Align to the right */
}
