.header-container {
  display: flex;
  justify-content: space-between; /* Changed from space-around to space-between */
  padding: 10px;
  background-color: rgb(151, 88, 163);
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  height: 6rem;
  transition: 0.3s;
  z-index: 100;
  padding-left: 20px;
}

.hamburger-menu {
  display: none;
}

.navlist-container {
  max-width: 70%;}

  .learniverse-connect {
    color: white;
    padding-left: 10px; /* Add padding for spacing */
  }
  



.navlist-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between; /* Spread out the list items */
  width: 100%; /* Ensure the ul takes up the full width */
}

.navlist-container ul li {
  margin-right: 10px;
}


.cart-container,
.login-container {
  display: flex;
  align-items: center;
}

.cart-link,
.login-link {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s, filter 0.3s;
}

.cart-link:hover,
.login-link:hover {
  filter: brightness(0.8);
}

.cart-icon {
  font-size: 24px;
  margin-right: 5px;
}

.cart-text {
  font-size: 16px;
}

.button-container {
  display: flex;
}

.cart-icon {
  max-height: 50px;
  max-width: 50px; 
}

@keyframes pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.cart-container.pop .cart-icon {
  animation: pop 0.3s ease-in-out;
}

.header-container a {
  color: white;
  text-decoration: none;
  position: relative;
}

.header-container a::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -2px;
  height: 2px;
  width: 0;
  background-color: rgb(255, 255, 255);
  transition: width 0.3s, left 0.3s;
}

.header-container a:hover::after {
  width: calc(100%);
  left: 0;
}

.header-container a.active::after {
  width: calc(100%);
  left: 0;
}

@media (max-width: 1000px) {
  .hamburger-menu {
    display: block;
  }

  .navlist-container {
    display: none;
  }
}

.learniverse-connect {
  display: flex;
  align-items: center;
  color: white;
  margin-right: auto;
}

.learniverse-link {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: color 0.3s;
}

.logo-container {
  display: flex;
  align-items: center;
}

