@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@keyframes pop {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.2);
  }
  100% {
      transform: scale(1);
  }
}

.Course {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fff;
  opacity: 0;
  animation: fadeIn 1s ease-out forwards;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.Course:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.Course h2 {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.Course p {
  color: #333;
  line-height: 1.6;
}

.Loading {
  text-align: center;
  margin-top: 20px;
}

.head {
  display: flex;
}

.title {
  padding: 10%;
}

label:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

.providerLabel {
  display: block;
  padding: 10px;
  cursor: pointer;
}

.providerLabel:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

ul {
  list-style: none;
}

.warning {
  color: red;
}

.success-message {
  color: green;
  opacity: 1; 
  animation: fadeOut 7s forwards;
}

@keyframes fadeOut {
  0% {
      opacity: 1;
  }
  71% {
      opacity: 1; 
  }
  100% {
      opacity: 0; 
  }
}
.cart-logo-container {
  position: relative;
}

.cart-logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: 20px;
  opacity: 0;
}

.cart-logo.show {
  opacity: 1;
  animation: pop 0.5s ease forwards; /* Add animation */
}

@keyframes pop {
  0% {
    transform: scale(0.2);
  }
  50% {
    transform: scale(1.5); /* Change the scale to make it larger */
  }
  100% {
    transform: scale(1);
  }

}

.providerLabel.disabled {
  color: #aaa; /* Lighter text color */
  text-decoration: line-through; /* Strike-through effect */
  cursor: not-allowed; /* Change cursor to not-allowed */
}

.button-section {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.goBackButton {
  height: auto;
  width: 100%;
  /* background-color: aqua; */
  /* display: flex;
  flex-wrap: wrap;
  flex-direction: column; */
}

.favoriteButton {
  height: auto;
  width: 80%;
  margin-top: 5%;
  align-self: center;
}

/* .button-section {
  background-color: aqua;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
} */

.title-image-section {
  /* background-color: aqua; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  align-items: center;
  align-content: center;
  justify-content: space-around;
}

.title-image-section .course-image-section img{
  /* background-color: rgb(255, 0, 200); */
  height: 10rem;
  object-fit: contain;
  margin: 0;
  padding: 0;
}

.title-image-section .title {
  /* background-color: rgb(227, 0, 0); */
  margin: 0;
  padding: 0;
  max-width: min-content;
}

.title-image-favorite {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}