.cart-page {
  margin: 20px;
}

.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-items {
  margin-top: 20px;
}

.cart-item {
  /* display: flex; */
  align-items: center;
  margin-bottom: 10px;
}

.price {
  margin-right: 10px; /* Adjust margin to separate price from remove button */
}

.remove-btn {
  display: flex;
  margin-left: 10px;
  background-color: #a193a7; 
  color: white; 
  border: none; 
  padding: 5px 10px; 
  border-radius: 5px; 
  cursor: pointer;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

