.about-container {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  /* Define styles for screens smaller than 768px */
  @media (max-width: 768px) {
    .about-container {
      max-width: 90%; /* Adjusted maximum width for smaller screens */
    }
    
    p {
      font-size: 14px; /* Adjusted font size for paragraphs */
    }
  }
  
  .logo {
    width: 100px;
    margin-bottom: 20px;
  }
  
  hr {
    border: 1px solid #ddd;
    margin: 20px auto;
    width: 50%;
  }
  
  p {
    line-height: 1.8;
    margin-bottom: 20px;
  }
  
  .cta {
    margin-top: 30px;
  }
  
  .btn-primary {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  