
/* button {
  background-color: rgb(246, 88, 88);
  color: rgb(0, 0, 0);
}

button:hover {
  background-color: rgb(26, 0, 0);
  color: rgb(238, 56, 56);
  /* text-decoration: solid; */
/* } */

/* ER DET IKKE BEDRE Å BARE BRUKE INDEX.CSS ISTEDET? */
