:root {
  --base-font-size: 16px; /* Define a CSS variable for base font size */
  --dropdown-scale: 1;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  place-items: center;
  margin-top: 5%;
  margin-bottom: 2rem;
  padding-top: 2rem;
  font-size: var(--base-font-size); /* Apply base font size */
}

h1, h2 {
  margin-bottom: .5rem;
  font-family: inherit;
  font-weight: 600;
  line-height: 1.2;
}

button {
  background-color: white;
  margin: 5%;
  border-radius: 8px;
  color: black;
  width: 100%;
  height: 100%;
}

button:hover {
  color:  rgb(255, 255, 255);
}

a:link, a:visited, a:active {
  text-decoration: none;
}


select {
  transform: scale(var(--dropdown-scale));
  transform-origin: left center;
  min-width: 120px;
}
