:root {
  --base-font-size: 16px; /* Define a CSS variable for base font size */
  --dropdown-scale: 1;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  min-height: 100vh;
  padding-top: 4rem;
}

#root {
  margin: 0 auto;
  text-align: center;
}

body {
  place-items: center;
  margin-bottom: 0rem;
  padding-top: 3rem;
  font-size: var(--base-font-size); /* Apply base font size */
}

h1, h2 {
  margin-bottom: .5rem;
  font-family: inherit;
  font-weight: 600;
  line-height: 1.2;
}


button {
  background-color: #8a2be2; /* Change background color */
  margin: 5%;
  border-radius: 15px;
  color: white; /* Change text color */
  height: 50px; /* Reduce button height */
  padding: 0 20px; /* Add padding for better spacing */
  font-size: 1rem; /* Adjust font size */
  border: none; /* Remove border */
  cursor: pointer; /* Add pointer cursor */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Add transition effect */
}

button:hover {
  background-color: #6a1b9a; /* Darken background color on hover */
  transform: scale(1.05); /* Add slight scale effect on hover */
}

button:disabled,
.provider-card.disabled {
  background-color: #e0e0e0; /* Light gray background */
  color: #a0a0a0; /* Gray text */
  cursor: not-allowed; /* Not-allowed cursor */
  pointer-events: none; /* Prevent interactions */
}

button:disabled {
  border: 1px solid #a0a0a0; /* Gray border */
}

button:focus:not(:focus-visible) {
  outline: none; /* Remove outline for non-keyboard focus */
}


a:link, a:visited, a:active {
  text-decoration: none;
}

:focus-visible {
  outline: 3px solid rgb(151, 88, 163);
  transition: outline 0.3s ease;
}

button:focus:not(:focus-visible) {
  outline: none;
}

.success-message {
  font-size: 1.5rem;
}