/* pagination.css */

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination button {
    margin: 0 5px;
    padding: 10px 20px; /* Increased padding for larger buttons */
    border: 2px solid #007bff; /* Increased border width */
    border-radius: 5px;
    background-color: #fff; /* White background */
    color: #007bff; /* Blue text color */
    font-size: 18px; /* Increased font size */
    cursor: pointer;
  }
  
  .pagination button.active {
    background-color: #007bff; /* Blue background for active page */
    color: #fff; /* White text color for active page */
  }
  