.course-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.course-box-upper {
  display: flex;
  background-color: #d2aaf4;
  border: 2px solid #c788ff;
  border-radius: 8px;
  overflow: hidden;
}

.course-info {
  flex: 1;
  padding: 20px;
  
}

.course-image {
  flex: 1;
  background-size: cover;
  background-position: center;
}

.course-box-lower {
  display: flex;
  background-color: #d2aaf4;
  border: 2px solid #c788ff;
  border-radius: 8px;
  overflow: hidden;
}

.course-description,
.course-info {
  flex: 1;
  padding: 20px;
}

.apply-button {
  text-align: right;
  margin-top: auto;
}

.apply-button button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .course-section {
    flex-direction: row;
  }

  .course-box-upper {
    flex-basis: 50%; /* Ensure upper box takes half the width */
  }
  
  .course-box-lower {
    flex-basis: 50%; /* Ensure lower box takes half the width */
  }
}
