.description-cell {
    max-width: 200px; /* Adjust as per your design */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer; /* Change cursor to pointer to indicate interactivity */
}

.description-cell.expanded {
    white-space: normal;
    overflow: visible;
    text-overflow: initial;
}

.courseTable {
    width: 100%;
    border-collapse: collapse;
}

.courseTable th, .courseTable td {
    border: 1px solid #ddd;
    padding: 8px;
}

.courseTable th {
    background-color: #f2f2f2;
}

.courseTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

.courseTable tr:hover {
    background-color: #ddd;
}
.button-container {
    display: flex;
}

.button {
    margin-right: 10px; /* Adjust spacing between buttons as needed */
}