.courses {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* gap: 2%; */
  align-items: center;
}

.test {
  /* display: grid; */
  /* grid-template-columns: repeat(2, 1fr); */
  /* gap: 2%; */
  padding: 1%;
  /* align-items: center; */
}

@media (max-width: 1000px) {
  .Courses {
    grid-template-columns: repeat(2, 1fr); /* Two course cards per row */
  }
}

@media (max-width: 700px) {
  .Courses {
    grid-template-columns: 1fr; /* One course card per row */
  }
}
