.Courses {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    gap: 10px;
    align-items: center;
  }

  @media (max-width: 800px) {
    .Courses {
      flex-direction: column;
    }
  }