.search-container {
  position: relative;
}

.search-container input {
  width: 100%;
  height: auto;
  /* position: absolute; */
  /* margin-top: 6rem; */
  top: 0;
  left: 0;
  right: 0;
  /* z-index: -1; */
}