.filter-container {
  display: flex;
  justify-content: center; /* Center the filter row horizontally */
}

.filter-row {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line when there's not enough space */
  align-items: center;
  margin-bottom: 20px;
}

/* Adjust the width of each filter component for different screen sizes */
@media screen and (max-width: 768px) {
  .filter-row > * {
    width: 100%; /* Each component takes up 100% width on small screens */
    margin-bottom: 10px; /* Add some spacing between components */
  }
}

/* Optional: Add specific styles for larger screens if needed */
@media screen and (min-width: 769px) {
  .filter-row > * {
    flex: 1; /* Each component shares an equal amount of available space */
    margin-right: 10px; /* Add some spacing between components */
  }
  
  .filter-row > *:last-child {
    margin-right: 0; /* Remove right margin for the last component */
  }
}

/* Apply styles to all dropdown tables */
.dropdown-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-radius: 8px;
}

/* Style table headers */
.dropdown-table th {
  background-color: #f5f5f5;
  padding: 12px;
  text-align: left;
}

/* Style table rows */
.dropdown-table td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

/* Style even rows */
.dropdown-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Hover effect */
.dropdown-table tr:hover {
  background-color: #f0f0f0;
}

/* Add animation to table rows */
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.dropdown-table tr {
  animation: fade-in 0.3s ease-in-out;
}

select {
  transform: scale(var(--dropdown-scale));
  transform-origin: left center;
  min-width: 120px;
}

.category-select, .search-input, .sort-dropdown {
  border-radius: 20px;
  border: 1px solid #ccc;
  padding: 12px 20px;
  font-size: 16px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  color: #333; /* Dark color for text */
  line-height: 1.5; /* Adequate line height for text */
}

.sortButton{
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
}


.sort-filter-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sort-dropdown {
  border-radius: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 16px;
  background-color: #fff;
}

.sortButton {
  border-radius: 20px;
  border: 1px solid #ccc;
  padding: 10px 20px;
  font-size: 16px;
  max-width: calc(100% - 100px); /* Maximum width is container width - dropdown width */
  white-space: nowrap; /* Prevents button text from wrapping */
  overflow: hidden; /* Prevents text from overflowing */
  text-overflow: ellipsis; /* Displays ellipsis (...) if text overflows */
}

/* Adjust styles for smaller screens */
@media screen and (max-width: 768px) {
  .sortButton {
    max-width: calc(100% - 80px); /* Adjusted max width for smaller screens */
  }
}


.search-container {
  position: relative;
  width: 100%;
  max-width: 700px;
  padding-bottom: 20px; /* Add padding below the search bar */
  margin: 0 auto; /* Center the search bar horizontally */
}


.search-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 16px;
  outline: none;
}

/* Basic styles */
.autocomplete-box {
  position: absolute;
  top: 100%; /* Position below the input */
  left: 0;
  width: 100%;
  max-height: 200px; /* Limit the height of the autocomplete box */
  overflow-y: auto; /* Enable vertical scrolling */
  border: none; /* Remove the border */
  background: rgba(255, 255, 255, 0.9); /* Slightly transparent white background */
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  border-radius: 8px; /* Rounded corners */
  transition: opacity 0.3s ease; /* Fade in/out animation */
  opacity: 0; /* Initially hidden */
}

/* Adjust the background color here */
.autocomplete-box.dark-background {
  color: #fff; /* Text color for dark background */
}

.autocomplete-scrollable {
  max-height: 200px;
  overflow-y: auto;
}

.autocomplete-item {
  padding: 15px 20px; /* Increase padding for better readability and spacing */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth background color change */
  color: #000; /* Default text color */
  font-size: 22px; /* Adjust the font size as needed */
}


.autocomplete-item:last-child {
  border-bottom: none; /* Remove border for the last item */
}

.autocomplete-item:hover {
  background-color: #f9f9f9; /* Light background on hover */
}

/* Animation for showing autocomplete box */
.autocomplete-box.show {
  opacity: 1;
}

/* Base styles for all components */
.filter-container, .sort-filter-container, .search-container {
  font-size: 20px; /* Base font size */
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .filter-container, .sort-filter-container, .search-container, .autocomplete-item {
    font-size: 18px; /* Decrease font size for smaller screens */
  }
}

